<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.tencho.mhgap2">

    <uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/mhgap_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/mhgap_logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".splashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".HomeActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Contactus"
            android:label="@string/title_activity_contactus"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Essential"
            android:label="@string/title_activity_essential"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".master"
            android:label="Master Chart"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Aboutus"
            android:label="@string/title_activity_aboutus"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Depression1" />
        <activity
            android:name=".Essentail1"
            android:label="@string/title_activity_essentail1"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Essential2"
            android:label="@string/title_activity_essential2"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".psychoses" />
        <activity android:name=".epilipsy" />
        <activity android:name=".behavioural" />
        <activity android:name=".dementia" />
        <activity android:name=".substance" />
        <activity android:name=".suicide" />
        <activity android:name=".other" />
        <activity android:name=".depression2" />
        <activity
            android:name=".Glossery"
            android:label="@string/title_activity_glossery"
            android:theme="@style/AppTheme" />
        <activity android:name=".help" />
        <activity android:name=".Dep_assesment" />
        <activity android:name=".Dep_followup" />
        <activity android:name=".depression3" />
        <activity android:name=".psychoses2" />
        <activity android:name=".psy_assesment" />
        <activity android:name=".psy_management" />
        <activity android:name=".psy_followup" />
        <activity android:name=".behavioural1" />
        <activity android:name=".Bev_assesment" />
        <activity android:name=".behavioural2" />
        <activity android:name=".suicide1" />
        <activity android:name=".sui_assesment" />
        <activity android:name=".suicide2" />
        <activity android:name=".epilipsy1" />
        <activity android:name=".epi_assesment" />
        <activity android:name=".epilipsy2" />
        <activity android:name=".Dementia_Management" />
        <activity android:name=".Dementia_healthsec" />
        <activity android:name=".Substance_healthsec" />
        <activity android:name=".Substance_management" />
        <activity android:name=".oth_healthsec" />
        <activity android:name=".oth_management" />
        <activity android:name=".protocol1" />
        <activity android:name=".dep_special_population" />
        <activity android:name=".dep_antidepressants" />
        <activity android:name=".dep_protocol2" />
        <activity android:name=".psy_protocol1" />
        <activity android:name=".psy_protocol2" />
        <activity android:name=".psy_special_population" />
        <activity android:name=".psy_medication" />
        <activity android:name=".epi_protocol1" />
        <activity android:name=".epi_special_population" />
        <activity android:name=".epi_medication" />
        <activity android:name=".Substanceprotocol1" />
        <activity android:name=".Substanceprot2" />
        <activity android:name=".Substanceprotcol3" />
        <activity android:name=".Substanceprotocol4" />
        <activity android:name=".Substanceprotocol5" />
        <activity android:name=".Oth1" />
        <activity android:name=".psy_followup1" />
        <activity android:name=".psy_followup2" />
        <activity android:name=".Cmh" />
        <activity android:name=".Suicideprot1" />
        <activity android:name=".Suicideproto1_2" />
        <activity android:name=".Suicideprot2" />
        <activity android:name=".Suicideprot3" />
        <activity android:name=".Epi_spec" />
        <activity android:name=".Substance_spe" />
        <activity android:name=".behavioural_followup" />
        <activity android:name=".Dementia_Assessment" />
        <activity android:name=".Dementia_followup" />
        <activity android:name=".Substanceuse_Assessment" />
        <activity android:name=".Substanceuse_followup" />
        <activity android:name=".Substanceuse_Assessment_Emergency" />
        <activity android:name=".suicide_followup" />
        <activity android:name=".oth_assessment" />
        <activity android:name=".oth_followup" />
        <activity android:name=".epi_followupp"></activity>
    </application>
    </manifest>