<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.tencho.mhgap2">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".splashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".HomeActivity"
            android:label="@string/title_activity_home"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Contactus"
            android:label="@string/title_activity_contactus"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Essential"
            android:label="@string/title_activity_essential"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".symbols"
            android:label="@string/title_activity_symbols"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".master"
            android:label="Master Chart"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Aboutus"
            android:label="@string/title_activity_aboutus"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Depression1" />
        <activity
            android:name=".Essentail1"
            android:label="@string/title_activity_essentail1"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Essential2"
            android:label="@string/title_activity_essential2"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".psychoses" />
        <activity android:name=".epilipsy" />
        <activity android:name=".behavioural" />
        <activity android:name=".dementia" />
        <activity android:name=".substance" />
        <activity android:name=".suicide" />
        <activity android:name=".other" />
        <activity android:name=".depression2" />
        <activity
            android:name=".Glossery"
            android:label="@string/title_activity_glossery"
            android:theme="@style/AppTheme" />
        <activity android:name=".help" />
        <activity android:name=".Dep_assesment" />
        <activity android:name=".Dep_followup" />
        <activity android:name=".depression3" />
        <activity android:name=".psychoses2" />
        <activity android:name=".psy_assesment" />
        <activity android:name=".psy_management" />
        <activity android:name=".psy_followup"></activity>
        <activity android:name=".behavioural1" />
        <activity android:name=".Bev_assesment" />
        <activity android:name=".behavioural2" />
        <activity android:name=".suicide1" />
        <activity android:name=".sui_assesment" />
        <activity android:name=".suicide2" />
        <activity android:name=".epilipsy1" />
        <activity android:name=".epi_assesment" />
        <activity android:name=".epilipsy2"></activity>
    </application>
</manifest>